<div class="card p-4 shadow-sm mb-4">
    <div class="d-flex w-100 p-2 justify-content-center align-items-center">
        <div class="avatar-wrapper">
            <img src="https://avatars.githubusercontent.com/u/55674968?v=4" alt="">
            <div class="superposition"></div>
        </div>
        <div class="ps-2 w-100">
            <input class="form-control" type="button" value="¿Qué estas pensando?">
        </div>
    </div>
    <div class="d-flex justify-content-evenly align-items-center additional-options-wrapper">
        <span class="upload-image d-flex align-items-center ps-5 pe-5 pt-1 pb-1">
            <i class="uil uil-image-upload pe-2"></i>
            <div>Subir imagen</div>
        </span>
        <span class="upload-image d-flex align-items-center ps-5 pe-5 pt-1 pb-1">
            <i class="uil uil-smile pe-2"></i>
            <div>Emojis</div>
        </span>
    </div>
</div>