<div class="d-flex justify-content-center align-items-center border vh-100">
    <div class="card w-25">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-lg-12 text-center mb-4">
                        <img src="../../../../../assets/img/logo.png" alt="Logo">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="email" class="form-label fw-bold fs-5">Correo electrónico</label>
                        <input type="email" class="form-control" name="email" placeholder="ejemplo@gmail.com">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="password" class="form-label fw-bold fs-5">Contraseña</label>
                        <input type="password" class="form-control" name="password" placeholder="**********">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="d-grid">
                            <button type="submit" class="d-block btn btn-primary p-2 fs-5">Iniciar Sesión</button>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center mb-2">
                        <a routerLink="/auth/registro">¿No tienes una cuenta?</a>
                    </div>
                    <div class="col-lg-12 text-center mb-3">
                        <a href="">¿Has olvidado tu contraseña?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>
