.options-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    .uil {
        font-size: 1.8rem;
    }

    &:hover {
        background-color: lightgray;
        cursor: pointer;
        transition: background-color 200ms ease-in-out;
    }
}

.dropdown-toggle::after {
    display: none;
}
